<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
 
    <title>Crud - Student Info</title>
  
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
</head>
<body>
 
<div class="container">
    <div class="row">
         
         
<link href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css" rel="stylesheet" media="screen">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css" rel="stylesheet">
 
 
 
<!-- FORM  -->       
<div class="col-md-12">
            
<form class="form-horizontal" id="form-edit-student" method='POST' action='{% url 'add' %}'> {% csrf_token %}
<fieldset>
 
<!-- Form Name -->
<legend class="bg-success" style="text-align:center; color:white;">Student Details   Operations</legend>
 
<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="student-name" name="name" required>Name</label>  
  <div class="col-md-4">
  <input id="student-name" name="name" type="text" placeholder="your student's name" class="form-control input-md">
  <span class="help-block">Full name of your Student</span>  
  </div>
</div>
 
<!-- Prepended text-->
<div class="form-group">
  <label class="col-md-4 control-label" for="student-email" name="email" required>Email</label>
  <div class="col-md-4">
    <div class="input-group">
      <span class="input-group-addon">@</span>
      <input id="student-email" name="email" class="form-control" placeholder="yourname@yourdomain.com" type="text">
    </div>
    <p class="help-block">Email of your Student</p>
  </div>
</div>
 
 
 
<!-- Form Phone -->
<div class="form-group">
  <label class="col-md-4 control-label" for="student-name" name="phone" required>Phone</label>  
  <div class="col-md-4">
  <input id="student-name" name="phone" type="text" placeholder="your student's Phone" class="form-control input-md">
  <span class="help-block">Phone number of your student</span>  
  </div>
</div>
 
 
<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="btn-save"></label>
  <div class="col-md-4">
    <button id="btn-save" class="btn btn-success" type="submit">Save</button>
  </div>
</div>
 
</fieldset>
</form>
</div> 
         
 
<!-- LIST -->
<div class=col-md-12>
     
    <form id="form-list-student">
            <legend>List of students</legend>
      
    <!-- 
    <div class="pull-right">
        <a class="btn btn-default-btn-xs btn-primary"><i class="glyphicon glyphicon-refresh"></i> Refresh</a>
        <a class="btn btn-default-btn-xs btn-success"><i class="glyphicon glyphicon-plus"></i> New</a>
    </div> -->
 
    <table class="table table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <td>Name</td>
                <th>Email</th>
                <th>Phone</th>
                <th>Actions</th>
            </tr>
                 
        </thead>
 
        <tbody id="form-list-student-body">
        {% for student in all_students  %}
         
         
            <tr>
                <td>{{student.name}}</td>
                <td>{{student.email}}</td>
                <td>{{student.phone}}</td>
                 
                <td>                    
                    <a href='/edit/{{student.id}}/' title="edit this user" class="btn btn-default btn-sm "> <i class="glyphicon glyphicon-edit text-primary"></i> </a>
                    <a href='/delete/{{student.id}}/' title="delete this user" class="btn btn-default btn-sm "> <i class="glyphicon glyphicon-trash text-danger"></i> </a>  
                </td>
            </tr>
 
            {% endfor %}
             
        </tbody>
 
 
    </table>
    </form>    
</div>
</div>
<body>
</html>